<a href="https://www.kaggle.com/code/faisalafif/data-wrangling-of-product-survey?scriptVersionId=144626275" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots # data visualization

import warnings 
warnings.filterwarnings('ignore')

In [ ]:
organic = pd.read_csv('/kaggle/input/conjoint-survey-results/conjoint_survey_organic.csv')
ads = pd.read_csv('/kaggle/input/conjoint-survey-results/conjoint_survey_ads.csv')

In [ ]:
column_name = pd.Series(['timestamp', 'user_phone', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

organic.columns = column_name
ads.columns = column_name

In [ ]:
organic.isnull().sum().to_frame()

In [ ]:
ads.isnull().sum().to_frame()

In [ ]:
# Create the combine dataframe
df = pd.concat([organic, ads])
df.info()

In [ ]:
df

In [ ]:
df[1].value_counts()

In [ ]:
# Create a function to transform and validate the answers within each cell
def transform_and_validate(cell):
    """
    Transform and validate a single cell value.

    This function takes a single cell value as input, which is typically a string containing comma-separated values.
    It performs the following transformation and validation steps:

    1. Strips leading and trailing whitespace from each value.
    2. Replaces any occurrence of 'D. Tidak memilih semua product' with 'D'.
    3. If 'D' is present in the transformed values with another answers of A, B, or C (the length of the list is greater than 1), 
       it sets the values to ['D'].
    4. Returns the transformed and validated cell value as a string.

    Parameters:
        cell (str): The input cell value to be transformed and validated.

    Returns:
        str: The transformed and validated cell value.

    Example:
        # Transform and validate a cell containing comma-separated values
        input_cell_1 = 'A, B'
        input_cell_2 =  'C, D. Tidak memilih semua product'
        transformed_cell_1 = transform_and_validate(input_cell_1)
        transformed_cell_2 = transform_and_validate(input_cell_2)
        # Resulting value of 'transformed_cell_1' of input_cell_1 will be 'A, B'
        # Resulting value of 'transformed_cell_2' of input_cell_2 will be 'D'

    Note:
        - This function is designed to process single cells, typically within a DataFrame, where each cell contains
          comma-separated values.
        - The function ensures that the output is a string with cleaned, transformed, and validated values.
    """
    values = [value.strip() for value in cell.split(',')]
    values = ['D' if value == 'D. Tidak memilih semua product' else value for value in values]  
    if 'D' in values and len(values) > 1:
        values = ['D']
    return ', '.join(values)

In [ ]:
df = df.applymap(transform_and_validate)
df

In [ ]:
original_df = df
original_df

In [ ]:
# Define mappings of detail answers for each question
answers_of_question1 = {
    'A': 'Create Analytics Dashboard, Tutorial Based, Rp 500.000,0',
    'B': 'Perform Customer Segmentation, Mentoring Based, Rp 350.000,0',
    'C': 'Design AB Test Experimentation, Mentoring Based, Rp 300.000,0',
}

answers_of_question2 = {
    'A': 'Create Analytics Dashboard, Tutorial Based, Rp 500.000,0',
    'B': 'Design Data Pipeline, Mentoring Based, Rp 300.000,0',
    'C': 'Perform Credit Scoring Analytics, Mentoring Based, Rp 550.000,0',
}

answers_of_question3 = {
    'A': 'Perform Customer Segmentation, Mentoring Based, Rp 350.000,0',
    'B': 'Perform Customer Segmentation, Tutorial Based, Rp 450.000,0',
    'C': 'Design Data Pipeline, Mentoring Based, Rp 250.000,0',
}

answers_of_question4 = {
    'A': 'Design AB Test Experimentation, Mentoring Based, Rp 500.000,0',
    'B': 'Perform Price Optimization, Tutorial Based, Rp 350.000,0',
    'C': 'Perform Credit Scoring Analytics, Mentoring Based, Rp 350.000,0',
}

answers_of_question5 = {
    'A': 'Design Data Pipeline, Mentoring Based, Rp 400.000,0',
    'B': 'Perform Customer Lifetime Analysis, Tutorial Based, Rp 300.000,0',
    'C': 'Design AB Test Experimentation, Tutorial Based, Rp 300.000,0',
}

answers_of_question6 = {
    'A': 'Perform Churn Analytics, Tutorial Based, Rp 450.000,0',
    'B': 'Perform Customer Segmentation, Mentoring Based, Rp 300.000,0',
    'C': 'Create Machine Learning Model, Mentoring Based, Rp 300.000,0',
}

answers_of_question7 = {
    'A': 'Perform Customer Lifetime Analysis, Tutorial Based, Rp 500.000,0',
    'B': 'Design Data Pipeline, Mentoring Based, Rp 550.000,0',
    'C': 'Deploy Machine Learning Model, Tutorial Based, Rp 350.000,0',
}

answers_of_question8 = {
    'A': 'Perform Credit Scoring Analytics, Mentoring Based, Rp 300.000,0',
    'B': 'Design Data Pipeline, Mentoring Based, Rp 550.000,0',
    'C': 'Create Machine Learning Model, Tutorial Based, Rp 550.000,0',
}

answers_of_question9 = {
    'A': 'Create Analytics Dashboard, Mentoring Based, Rp 250.000,0',
    'B': 'Design AB Test Experimentation, Tutorial Based, Rp 550.000,0',
    'C': 'Perform Customer Lifetime Analysis, Mentoring Based, Rp 350.000,0',
}

answers_of_question10 = {
    'A': 'Perform Credit Scoring Analytics, Mentoring Based, Rp 400.000,0',
    'B': 'Perform Churn Analytics, Mentoring Based, Rp 450.000,0',
    'C': 'Perform Churn Analytics, Tutorial Based, Rp 500.000,0',
}

In [ ]:
# Create a function to transform a single row into detailed format
def transform_row(row):
    """
    Transform a single row of survey data into a detailed format.

    This function takes a single row of survey data as input, where each column represents a question with comma-separated
    answers. It transforms the row into a detailed format where each combination of user, question, option, response, and
    details is extracted and returned as a list of tuples.

    Parameters:
        row (pandas.Series): A single row of survey data represented as a pandas Series.

    Returns:
        list: A list of tuples representing the transformed data with the following structure:
            [(user_phone, question, option, Response, Details), ...]

    Note:
        - This function is designed to transform a single row of survey data into a more detailed format suitable for
          further analysis.
        - The input row is expected to be a pandas Series, where each question is represented as a column, and answers
          are comma-separated strings.
    """
    details = []
    
    for question in range(1,11):
        answers = row[question].split(', ')
        answers_of_question = None
        
        if question == 1:
            answers_of_question = answers_of_question1
        elif question == 2:
            answers_of_question = answers_of_question2
        elif question == 3:
            answers_of_question = answers_of_question3
        elif question == 4:
            answers_of_question = answers_of_question4
        elif question == 5:
            answers_of_question = answers_of_question5
        elif question == 6:
            answers_of_question = answers_of_question6
        elif question == 7:
            answers_of_question = answers_of_question7
        elif question == 8:
            answers_of_question = answers_of_question8
        elif question == 9:
            answers_of_question = answers_of_question9
        elif question == 10:
            answers_of_question = answers_of_question10
        
            
        if 'D' in answers:
            details.extend([(row['user_phone'], question, f'{option}', 0, answers_of_question[option]) for option in ['A', 'B', 'C']])
        else:
            details.extend([(row['user_phone'], question, f'{option}', 1 if option in answers else 0, answers_of_question[option]) for option in ['A', 'B', 'C']])
    
    return details

In [ ]:
# Create a function to create a detailed DataFrame from a list of transformed data and reset its index
def create_detailed_df(detailed_data):
    """
    Create a detailed DataFrame from a list of transformed data and reset its index.

    This function takes a list containing transformed data and creates a new pandas DataFrame with specified
    column names. It also resets the index of the new DataFrame for a clean structure.

    Parameters:
        detailed_data (list): List containing transformed data. Each list represents a row of data with 
        the following structure: 
        [(user_phone1, question1, option, Response, Details), ...]
        [(user_phone2, question1, option, Response, Details), ...]
        

    Returns:
        pandas.DataFrame: A new DataFrame with columns 'user_phone', 'question', 'option', 'response', and 'details',
        containing the transformed data.

    Note:
        - This function is designed to create a structured DataFrame from a list containing transformed data.
        - The column names 'user_phone', 'question', 'option', 'response', and 'details' are predefined for the
          resulting DataFrame.
    """
    flattened_list = [item for sublist in detailed_data for item in sublist]
    column_names = ['user_phone', 'question', 'option', 'response', 'details']
    detailed_df = pd.DataFrame(flattened_list, columns=column_names)
    detailed_df.reset_index(drop=True, inplace=True)
    
    return detailed_df

In [ ]:
# Apply the transform_row function to each row in the DataFrame
detailed_data = original_df.apply(transform_row, axis=1)

# Call the function to create the DataFrame
resulting_df = create_detailed_df(detailed_data)

# Display the resulting DataFrame
detailed_data_1 = detailed_data.to_frame()
detailed_data

In [ ]:
resulting_df

In [ ]:
# Split the "Details" column into three columns based on commas
resulting_df[['skill', 'program', 'price']] = resulting_df['details'].str.split(',', n=2, expand=True)

# Drop the original "Details" column
resulting_df.drop(columns=['details'], inplace=True)

# Drop the question and option columns
resulting_df.drop(columns=['question', 'option'], inplace=True)

# Rename columns
column_name = ['user_phone', 'choice', 'skill', 'bentuk_program', 'harga_program']
resulting_df.columns = column_name

# Display the resulting DataFrame
final_df = resulting_df
final_df

In [ ]:
final_df.to_csv('clean_data.csv', index=False)

-----

In [ ]:
# Use sample data for sanity check
sample_df = pd.read_csv('/kaggle/input/conjoint-survey-results/clean_data_sample.csv')
sample_df